body{
    background-color: black;
    color: white;
    height: 400px;
    width: 400px;
    text-align: center;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: 0.4rem 0;
}
